<figure class="text-xs md:text-sm px-5 py-4 mb-4 bg-white border border-gray-300 shadow-md overflow-auto scrolling-touch">
  <figcaption class="font-mono mb-4"><%= title %></figcaption>
  <%= snippet %>
</figure>

<% previous_sample_files.each_with_index do |previous_sample_file, index| %>
  <% left = previous_sample_file.read %>
  <% right = sample_file.read %>

  <div class="flex -mx-2">
    <div class="w-1/2 px-2">
      <figure class="text-xs md:text-sm px-5 py-4 mb-4 bg-white border border-gray-300 shadow-md overflow-auto scrolling-touch">
        <figcaption class="font-mono mb-4"><%= previous_sample_file.basename %> (<%= index.next %>)</figcaption>
        <%= CodeRay.scan(Diffy::SplitDiff.new(left, right).left, :diff).div(line_numbers: :table).html_safe %>
      </figure>
    </div>
    <div class="w-1/2 px-2">
      <figure class="text-xs md:text-sm px-5 py-4 mb-4 bg-white border border-gray-300 shadow-md overflow-auto scrolling-touch">
        <figcaption class="font-mono mb-4"><%= sample_file.basename %></figcaption>
        <%= CodeRay.scan(Diffy::SplitDiff.new(left, right).right, :diff).div(line_numbers: :table).html_safe %>
      </figure>
    </div>
  </div>
<% end %>