<header class="header">
  <div class="header-container container">
    <a class="header-home">
      <%= image_tag('/kabisa-logo.png', class: 'header-image') %>
    </a>
    <nav class="header-nav">
      <%= link_to 'Show All', companies_uno_path, class: 'header-nav-link' %>
      <%= link_to 'Show All (Turbo)', companies_due_path, class: 'header-nav-link' %>
      <%= link_to 'Show Next', companies_tre_path, class: 'header-nav-link' %>
      <%= link_to 'Show More', companies_quattro_path, class: 'header-nav-link' %>
      <%= link_to 'Endless Scroll', companies_cinque_path, class: 'header-nav-link' %>
      <%= link_to 'Live search', companies_sei_path, class: 'header-nav-link' %>
    </nav>
  </div>
</header>