<%= search_form_for @q, url: url_for, data: { turbo_frame: 'results' } do |f| %>
  <%= f.search_field :name_or_catch_phrase_cont %>
  <%= f.submit 'Search' %>
<% end %>

<%= turbo_frame_tag 'results' do %>

  <% if @companies.any? %>
    <%= turbo_frame_tag "results-#{@companies.current_page}" do %>
      <%= render @companies %>

      <% if @companies.next_page %>
        <%= turbo_frame_tag "results-#{@companies.next_page}" do %>
          <%= link_to_next_page @companies, 'Load More' %>
        <% end %>
      <% end %>
    <% end %>

  <% else %>
    <p>No results found.</p>
    <%= link_to 'Clear filter', url_for, data: { turbo_frame: '_top' } %>
  <% end %>

<% end %>
