<%= turbo_frame_tag "content" do %>
  <%= render CodeSnippetComponent.new(sample_file: 'uno/companies_controller.rb') %>
  <%= render CodeSnippetComponent.new(sample_file: 'uno/index.html.erb') %>

  <% string1 = Rails.root.join('docs/snippets/uno/index.html.erb').read %>
  <% string2 = Rails.root.join('docs/snippets/due/index.html.erb').read %>

  <div class="flex -mx-2">
    <div class="w-1/2 px-2">
      <div class="text-xs md:text-sm px-5 py-4 mb-4 bg-white border border-gray-300 shadow-md overflow-auto scrolling-touch">
      <%= CodeRay.scan(Diffy::SplitDiff.new(string1, string2).left, :diff).div(line_numbers: :table).html_safe %>
      </div>
    </div>
    <div class="w-1/2 px-2">
      <div class="text-xs md:text-sm px-5 py-4 mb-4 bg-white border border-gray-300 shadow-md overflow-auto scrolling-touch">
      <%= CodeRay.scan(Diffy::SplitDiff.new(string1, string2).right, :diff).div(line_numbers: :table).html_safe %>
      </div>
    </div>
  </div>
<% end %>